<!DOCTYPE html>
<html>
  <head>
    <title>Young Notcias</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="icon" type="imagem/png" href="../images/logomaisforte.png"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
  </head>
  <body class="body">
  <a href="/noticias"><button type="button" class="btn btn-light col-2 mb-3 botao2">Voltar para noticias</button></a></center>
  <h1 class="texto2">Valorant receberá um novo mapa chamado Fracture na atualização 3.05. A novidade foi revelada nesta quarta-feira (1) com um vídeo especial de apresentação e tem previsão para chegar no dia 8 de setembro junto com o Ato 2 do Episódio 3.</h1>
  <center><iframe width="560" height="315" src="https://www.youtube.com/embed/XhAOpKRSZ20?origin=http://www.techtudo.com.br" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
  </div>
  </body>
</html>