

a {
  color: #00B7FF;
}

.noticia{
font-family: 'Montserrat', sans-serif;

}
header{
  background-color: black;
 
}
.corpo{
  background-color: black;
}
.botao{
  font-family: 'Montserrat', sans-serif;
}
.body{
background-color: black;
}
.titulo{
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-top: 40px;
  margin-left: 40px;
}
.botao2{
  font-family: 'Montserrat', sans-serif;
   margin-top: 10px;
   margin-left: 40px;
}
.texto{
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-top: 50px;
  margin-left: 40px;

}
#logo2{
  margin-top: 10px;
  margin-left: 40px;
}
.texto2{
   font-family: 'Montserrat', sans-serif;
  color: white;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 25px;
  text-align: justify;
}